header{
background-color: red;
    /* background: rgba(20, 2, 0, 0.8); */
}
#a1{
    margin-left: -350px;
    margin-right: -180px;
    color: white;
}
#img1{
margin-left: -350px;
margin-right: -140px;
}
.sec1{
    margin-top: 200px;
    margin-left: 200px;
}
tr,td,th{
    padding: 20px;
}
