:root {
    --main-color: #b68834;
    --section-footer-color: #4f2b17;
  }


#userImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 480px;
    margin-top: -20px;
}
#userName
{
    margin-left: 540px;
    margin-top: -20px; 
    color: aliceblue;
}
.details{
    margin-left:270px;
    width: 700px;
}
.table1{
    margin-left: 80px;
}
.price{
    position: absolute;
    margin-left: 70px;
    margin-top: 15px;
}
.orderimage{
    width: 100px;
    height: 100px;
   
}
.cardorder{
    width: 200px;
    height: 200px;
}


.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table thead tr {
    background-color: rgba(20, 2, 0, 0.8);
    color: #ffffff;
    text-align: center;
}
.table th,
.table td {
    padding: 12px 15px;
}
.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid  rgba(20, 2, 0, 0.8);
}
.table tbody tr.displayActive {
    font-weight: bold;
    color:rgba(20, 2, 0, 0.8);
}
#header{
    background-color:  rgba(20, 2, 0, 0.8); ;
}
.myorder{
    font-size:30px;
    color: black;
    margin-left: 97px;
}
.show{
   margin-left: 50px;
   font-size: 20px;
}


/* Number */
.allProductsNum .numbers .active,
.allUsersNum .numbers .active {
  border-radius: 6px;
  background-color: var(--main-color);
  color: white;
}
.fa-angles-right,
.fa-angles-left {
  color: var(--main-color);
}
/* Number */